.navbar {
  transition: all 0.3s ease;
}

.navbar-link:hover {
  color: gray;
}

.mobile-menu {
  animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
